@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: -1,
    )
  );
}

body {
  color-scheme: light;
  background-color: #f5f6f8;
  color: #37474f;
  font-family: 'DM Sans', 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  height: 100%;
}
